body {
   font-family:georgia,garamond,serif;
   font-size:16px;
}

#inverter {
   /*background-image: url('../images/tripower.jpg');*/
   background-repeat: no-repeat;
   background-attachment: fixed;
}

#container {
    position:relative;
    float:left;
}

#qrcode {
    position: absolute;
    left: 200px;
    top: 160px;
}

.fformcontainer {
  width: 400px;
  clear: both;
}

.formcontainer input {
  /*width: 100%;*/
  /*clear: both;*/
  /*float: right;*/
}

.button {
   background-color: blue;
   padding: 15px 32px;
   font-size: 20px;
}
